/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Poppins', sans-serif; */

  margin: 0;
  padding: 0;
  
  height: 100vh;
  width: 100vw;
}

.bg {
  background: url(./assets/world-map.png);
  /* background: yellow; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  height: 100%;
  width: 100%;
  
  display: flex;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  /* align-items: center; */
  flex-grow: 1;
  border: px solid violet;
}

.navigation {
  flex-basis: 10%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* align-content: center; */
  /* align-items: stretch; */

  /* font-size: 1.5rem; */
  
  border: px solid rebeccapurple;
}


.header {
  margin: 0;
  
  flex-basis: 80%;
  
  background-color: rgba(255, 255, 255, 0.95);
  color: rgb(66, 66, 66);
  
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;

  border: 3px double grey;
}

.banner {
  flex: 0 0 95%;

  font-family: 'Poppins', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;

  border: px solid blue;
}

.about-app {
  flex-basis: 10%;

  border: px solid blue;
}





.content-container {
  flex-grow: 1;
  
  display: flex; 
  justify-content: center;

  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  border: px solid red;
}

.content {
  flex-basis: 80%;

  background-color: rgba(255, 255, 255, 0.90  );

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  border: 3px double grey;
}

.content .splash {
  flex: 1 0 75%;
  width: 95%;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  
  text-align: justify;

  border: px solid green;
}

.content .next-submit {
  flex-basis: 10%;
  width: 95%;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;

  border: px solid blue;
}

.next-submit button {
  flex: 0 0 35%;

  font-size: 1.5rem;
  text-align: center;

  border: px solid grey; 
}

.next-submit div:hover {

}

.next-submit button {
  flex-grow: 1;
  height: 80%;

  background-color: rgb(56, 75, 133);
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7rem;
  letter-spacing: .7rem;
  border: one;
  border-radius: 7px;
}

.next-submit button:hover {
  background-color: rgba(56, 75, 133, 0.8);
}


.content .continue-info {
  flex-basis: 5%;
  width: 95%;
  font-size: 1rem;
  text-align: right;

  border: px solid blue;
}



.forms-wrapper {
  flex-grow: 1;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  
  /* background: pink; */
}

.forms-wrapper p {
  /* flex-basis: 10%; */
  font-size: 1.5rem;
  text-align: center;

  /* margin: 0; */
  
  border: px solid red;
}

.forms-wrapper form {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;

  border: px solid green;
}

.form-input {
  flex-basis: 13%;
  
  margin: 1rem;
  font-size: 1.5rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  border: px solid black
}

.form-input label {
  flex-basis: 30%;

  border: px solid black
}

.form-input input, .form-input select {
  /* flex-grow: 1; */
  flex-basis: 40%;
  height: 80%;

  border: none;
  border-radius: 7px;
  background-color: #444;
  font-size: 2rem;
  font-family: monospace;
  color: #eee;
  padding: 0 20px;
  outline: none;
  border: px solid black 
}

.form-input input:hover, .form-input select:hover {
  border: px double red;
}





.important {
  color: red;
}

div.welcome-message{
  opacity: 1;
  animation-name: hideshow;
  animation-duration: 5s;
  /* animation-delay: 1s ; */
  /* animation-direction: reverse;  */
  /* display: none; */
  /* transition: display 2s ease-in; */
}

@keyframes hideshow {
  from {opacity: 0;}
  to {opacity: 1;}
}


@media screen and (max-width: 1330px){
  .header, .content {
    flex-basis: 95%;
  }
}

@media screen and (max-width: 1150px) and (min-width: 688px) {
  .header, .content {
    flex-basis: 97%;
  }

  .form-input {
    justify-content: space-between;
  }

  .form-input label, .form-input input, .form-input select {
    flex-basis: 50%;
  }

}

@media screen and (max-width: 687px) and (min-width: 280px) {
  .header, .content {
    flex-basis: 97%;
  }

  .content-container {
    font-size: 1.5rem;
  }


  .forms-wrapper p {
    font-size: 0.8rem;
    margin: 3px;
  }

  .form-input {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-grow: 1;
    margin: .1rem;
  }

  .form-input label, .form-input input, .form-input select {
    /* flex-basis: 80%; */
  }
  

  .form-input label {
    flex-basis: 30%;
    font-size: 1rem;
  }

  .form-input input, .form-input select {
    flex-basis: 60%;
    width: 50%;
    /* height: 60%; */
  }

}


@keyframes spin {
  to {
      transform: rotateZ(360deg);
  }
}

.spin {
  text-align: center;
  width: 4rem;
  height: 4rem;

  border-width: .4rem;
  border-color: grey;
  border-style: double;
  border-radius: 10%;
  opacity: .8;
  
  animation: spin .6s linear infinite alternate-reverse;
  display: none;

}


.show {
  display: block;
}


@media screen and (max-width:370px) {
 .banner {
    font-size: 1.5rem ;
  }
}

.hide {
  display: none;
}

.show {
  display: flex;
}
